.khan__buy-link {
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    margin: 0 auto 0 48px;
  }

  .khan__buy-link:hover {
    opacity: 0.6;
    transition: opacity 0.7s linear;
  }